node_modules
.DS_Store
dist
dev-dist
# intellij stuff
.idea/
playground/elk/public/*.png
playground/elk/public/*.ico
playground/elk/public-dev/*.png
playground/elk/public-dev/*.ico
playground/elk/public-staging/*.png
playground/elk/public-staging/*.ico
playground/pwa/public/*.png
playground/pwa/public/*.ico
